
@model aukcjapl.Models.ListaVM
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Create";
}

<h2>Wystaw przedmiot</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tytul" class="control-label"></label>
                <input asp-for="Tytul" class="form-control" />
                <span asp-validation-for="Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label">Cena wywoławcza</label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Obraz" class="control-label"></label>
                <input asp-for="Obraz" class="form-control" accept="image/*" style="width: 30%" />
                <span asp-validation-for="Obraz" class="text-danger"></span>
            </div>
            
           
            <div class="form-group">
                <input type="submit" value="Wystaw" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do ofert</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}